.git
.github
.env
.phpunit.result.cache
node_modules/
vendor/
public/hot
public/storage/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
tests/
Docker/
Dockerfile
docker-compose.yml
docker-entrypoint.sh
README.md
